/*preloader*/
.no-js #loader {  display: none;  }
.js #loader {     display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 999999999;
background: url("../images/ajax-loader.gif") center no-repeat #fff;                 
}
.se-pre-con p{
position: fixed;
left: 50%;
text-align: center;
top: 50%;
z-index: 9999999;  
color: rgb(163,73,164);
font-weight: bold;   
font-family: cursive;           
}

/*body*/
.body{
    background: url("../images/images.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.body ul li:hover{
    color:#ffffff;
    background-color: #2d80ce;
}
.bg-nav{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    position: fixed;
    top: 0;
    z-index:9999999;
}
a{
    color: #ffffff;
}
.goal{
    color: #ffffff;
    text-align: center;
    margin-top: 15%;
}

/*home*/
.home{
    color:#ffffff;
    font-weight: bold;
    margin-top: 15%;
}
.get{
    padding: 15px;
    color: #ffffff;
    width: 30%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.help{
    background: #4399ff;
    background-size: cover;
    background-position: center;
}
.achieving{
    background: #4399ff;
}

/*login*/
.login{
    background: url("../images/architecture-business-city-358612.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}
.login ul li {
    padding: 3px;
    display: inline-block;
}
.login ul li a{
    color:#ffffff;
}
.login ul li:hover{
    color:#ffffff;
    background-color: #2d80ce;
}

/*registration page*/
span{
    display: block;
    margin-top: 2%;
    text-align: justify;
    padding: 2%;
    border-radius: 20px;
    outline: none;
    padding-left: 40px;
    color: #f1f1f1;
    background-color:#2d80ce;
}
.sign ul li a:hover{
    color:#ffffff;
    background-color: #2d80ce;
}
.sign{
    background: url("../images/architecture-business-city-358612.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.bg-nav1{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
}
.fa-check{
    float: left;
    padding: 10px;
    min-width: 50px;
}
.form{
    color: #f1f1f1;
    text-align: center;
    border: none;
    height: 85.6%;
}
input{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    border: none;
    margin-bottom: 2%;
    
}
.icon {
    padding: 10px;
    min-width: 50px;
    position:absolute;
  }
  .input-field {
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    padding-left: 40px;
    border: 0.2px solid;
    color: #f1f1f1;
  }
.primary{
    background-color:#2d80ce;
    color: #ffffff;
    padding: 16px ;
    margin: 0 0;
    border: none;
    cursor: pointer;
    border: 0.2px solid;
    width: 50%;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2%;
    transition:2s all ease;
}
.primary:hover{
    color: #ffffff;
    box-shadow: white;
    transform:scale(1.2);
}

/*profile*/
.bg-nav2{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgb(0, 0, 0, 0.5);
}

/*footer*/
hr{
    background-color: #000000;
}
#footer {
    padding-bottom: 1%;
}
section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.follow{
    color:#000000;
    text-align: center;
}
#footer ul.social li a i {
    margin-right: 5%;
    color:#000000; 
	font-size:20px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 10px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
